.places
auto-save-list
elpa
.cask
*~
.*~
url
ac-comphist.dat
projectile*
.mc-lists.el
tramp
var
*.plstore
session*
.org-id-locations
image-dired
notes
.sx
external/yasnippet
rake.cache
ido.last
smex-items
eshell
bookmarks
games
*cache.el

.emacs.*.el