#!/usr/bin/env bash
#
# This is a sample file for the ~/.xinitrc file.
#

# Disable access control
xhost +SI:localuser:$USER

# Fallback cursor
xsetroot -cursor_name left_ptr

# Keyboard repeat rate
#xset r rate 180 40

# Set capslock as ctrl
setxkbmap -layout us -option ctrl:nocaps

# If Emacs is started in server mode, `emacsclient` is a convenient way
# to edit files in place (used by e.g. `git commit`)
export VISUAL=emacsclient
export EDITOR="$VISUAL"
export DISPLAY=:0

xset b off &
xhost +
numlockx off                    # Turn off numlock

# Autostart
#
# For things like dropbox you should start these in the
# ~/.emacs.autostart.el file.
#
xfce4-power-manager &
xscreensaver -no-splash &
nm-applet &                     # Network Manager
pulseaudio --kill               # Kill pulseaudio
pulseaudio --start              # Start pulseaudio
volti &                         # Volume manager
udiskie --tray &                # Disk mount utility

exec dbus-launch --exit-with-session emacs
